@import url("https://fonts.googleapis.com/css?family=Open+Sans|Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(257, 40%, 49%);
  background-image: url(/assets/img/bg-desktop.svg);
  background-size: cover;
  color: whitesmoke;
}

.logo {
  width: 220px;
  padding-left: 65px;
  padding-top: 45px;
}

.container {
  display: flex;
  padding: 5vw;
}

.img {
  max-width: 100%;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  padding-top: 50px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding-top: 30px;
}

.left {
  height: auto;
  width: 60vw;
}

img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.right {
  height: auto;
  width: 30vw;
  margin: 2vw;
}

.btn {
  height: 35px;
  width: 135px;
  margin-top: 30px;
  border-radius: 20px;
  border-style: none;
  font-weight: lighter;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

ul {
  display: flex;
  float: right;
}

ul li {
  list-style: none;
  width: 50px;
  padding-top: 20px;
}

.social-list { padding: 15px 70px 50px 0; }

.fa {
  color: white;
  margin: auto;
  padding: 10px;
  border: 2px solid white;
  border-radius: 50%;
}

.fa-facebook-f {
  padding-right: 12px;
  padding-left: 12px;
}

.fa-twitter,
.fa-instagram {
  padding-right: 8px;
  padding-left: 8px;
}

@media screen and (max-width: 600px) {
  body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(/assets/img/bg-mobile.svg);
    color: whitesmoke;
  }

  .logo {
    width: 150px;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 5vw;
    align-items: center;
    text-align: center;
  }

  .left,
  .right { width: 100%; }

  .social-list {
    padding-right: 0;
    text-align: center;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
