* {
    margin: 0;
    padding:0;
}

body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(/assets/img/bg-desktop.svg);
    color: whitesmoke;
  
}

.logo {
    width: 220px;
    padding-left: 65px;
    padding-top: 45px;
}
.container {
    display: flex;
    padding: 70px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding-top: 50px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding-top: 30px;
}

.left {
    height: 70vh;
    width: 62%;
}

.right {
    height: 70vh;
    width: 38%;
}
.btn {
    height: 35px;
    width: 135px;
    margin-top: 30px;
    border-radius: 20px;
    border-style: none;
    font-weight: lighter;
}

ul {
    
    display: flex;
    float: right;
    
}

ul li {
    list-style: none;
    width: 50px;
    padding-top: 20px;
}

.social-list {
    padding: 15px 70px 50px 0;
   }

.fa {
    color: white;
    margin: auto;
    padding: 10px;
    border: 2px solid white;
    border-radius: 50%;

   }
   
.fa-facebook-f {
    padding-right: 12px;
    padding-left: 12px;
   }

.fa-twitter, .fa-instagram {
    padding-right: 8px;
    padding-left: 8px;
   }

@media screen and (max-width: 375px) {

    body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(/assets/img/bg-mobile.svg);
    color: whitesmoke;
    }

    .container {
    display: flex;
    flex-direction: column;
    padding: 70px;
}

}